* {
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    flex-direction: column;

}
 .fonte{
    color: #D15FEE ;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
   font-size: 45px;
} 

.fundo {
    background-color: #FFF8DC;
    background-image: url('Fundo\ tela\ Cadastro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 63vh;
    background-color: #E0FFFF;
    border-radius: 30px;
    /* margin-left: 40px;  */
    margin-right: 35vw;
    /* margin-top: 135px; */
    /* margin-top: 160px; */
    border: 2px solid #B0E0E6;
    background-image: url('fundoPI.avif');
    background-size: cover;
}

.dados {
    border-radius: 20px;
    /* border-style: dashed;  */
    font-weight: bolder;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.divBotao{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 20px;
}

.botao {
    border-radius: 30px;
    width: 90px;
    height: 25px;
    background-color: #B0E0E6;
    align-items: center;
    text-decoration: none;
}



/* div{
    text-align: center;
} */

input{
    text-align: center;
}

